*{
    box-sizing: border-box;
}
body{
    margin: 0;
    width: 100%;
    max-width: 1400px;
    display: block;
    margin: auto;
    min-height: 100vh;
    background: #191919;
    font-family: sans-serif;
}
.navbar{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
    background: #1a1a1a;
}
.link-group{
    list-style: none;
    display: flex;
}
.link a{
    color: #fff;
    opacity: 0.5;
    text-decoration: none;
    text-transform: capitalize;
    padding: 10px 30px;
    margin: 0 20px;
    line-height: 80px;
    transition: .5s;
    font-size: 20px;
}
.link a:hover, .link.active a{
    opacity: 1;
}
/*seccion se inicio*/
.seccion-inicio{
    width: 100%;
    height: 100vh;
    padding: 0 150px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    opacity: 0;
    transition: 1s;
}
.titulo{
    color: #fff;
    font-size: 120px;
    text-transform: capitalize;
    font-weight: 300px;
}
.foto.inicio{
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 50%;
    object-fit: cover;
    opacity: 0.2;
}
.seccion-inicio.active{
    position: relative;
    opacity: 1;
    z-index: 0;
}
/*seccion proyectos*/
.seccion-proyectos{
    width: 100%;
    min-height: 100vh;
    padding: 150px 100px 100px;
    position: fixed;
    top: 0;
    transition: 1s;
    opacity: 0;
}
.titulo-proyectos{
    font-size: 100px;
    background: #252525;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 50px;
    color: #1a1a1a;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-stroke: 8px transparent;
}
.contenedor-proyectos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 100px;
}
.tarjeta-proyectos{
    height: 400px;
    position: relative;
}
.imagen-proyecto{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    transition: .5s;
}
.contenido-proyectos{
    position: relative;
    padding: 40px;
    color: #fff;
    transition: .5s;
    opacity: 0;
}
.subtitulo{
    font-size: 50px;
    text-transform: capitalize;
    text-align: center;
    font-weight: 300;
}
.info-proyectos{
    margin: 40px;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
}
.proyectos-btn-grp{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}
.proyrctos-btn{
    height: 40px;
    text-transform: capitalize;
    font-size: 18px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
}
.project-btn.live{
    background: none;
    border: 2px solid #fff;
}
.tarjeta-proyectos:hover .project-img{
    filter: blur(20px);
}
.tarjeta-proyectos:hover .contenido-proyectos{
    opacity: 1;
}
.seccion-proyectos.link.active{
    position: relative;
    opacity: 1;
    z-index: 0;
}

/*seccion de informacion*/
.info-seccion{
    width: 100%;
    min-height: 100vh;
    padding: 150px 100px 0;
    position: fixed;
    top: 0;
    opacity: 0;
    transition: 1s;
}
.info{
    width: 100%;
    display: grid;
    grid-template-columns: 30% 65%;
    grid-gap: 40px;
}
.contenedor-img-info{
    position: relative;
}
.texto-info{
    color: #fff;
    opacity: 0.6;
    font-size: 20px;
    line-height: 40px;
}
.info-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.descarga-cv-btn{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    color: #fff;
    border: none;
    font-size: 16px;
    text-transform: capitalize;
    cursor: pointer;
    transition: .5;
    background-color: rgba(0, 0, 0, 0.5);
}
.info-seccion.link.active{
    position: relative;
    opacity: 1;
    z-index: 0;
}